<% layout('layouts/boilerplate.ejs') %>

<div class="row m-5">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header">
        <div class="h1">Edit Hotel</div>
      </div>
      <div class="card-body">
        <form
          action="/hotel/<%= hotel._id %>?_method=put"
          method="post"
          class="validated-form"
          enctype="multipart/form-data"
          novalidate
        >
          <div>
            <label for="title">Title : </label>
            <input
              type="text"
              name="hotel[title]"
              id="title"
              class="form-control"
              value="<%= hotel.title %>"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div>
            <label for="price">Price : </label>
            <input
              type="text"
              name="hotel[price]"
              id="price"
              class="form-control"
              value="<%= hotel.price %>"
              required
            />

            <div class="valid-feedback">Looks good!</div>
          </div>
          <div>
            <label for="description">Description : </label>
            <textarea
              name="hotel[description]"
              id="description"
              class="form-control"
              required
            >
<%= hotel.description %></textarea
            >

            <div class="valid-feedback">Looks good!</div>
          </div>
          <div>
            <label for="location">Location : </label>
            <input
              type="text"
              name="hotel[location]"
              id="location"
              class="form-control"
              value="<%= hotel.location %>"
              required
            />

            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-4">
            <label for="image">Add Images : </label>
            <input
              type="file"
              name="image"
              id="image"
              class="form-control"
              multiple
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-4 d-flex">
            <% hotel.images.forEach(function(img,i){%>
            <div class="">
              <img src="<%= img.thumbnail%>" class="img-thumbnail" alt="" />
              <div class="form-check-inline ms-1">
                <input
                  type="checkbox"
                  id="image-<%=i%>"
                  class="form-check-input"
                  name="deleteImages[]"
                  value="<%=img.filename  %>"
                />
                <label for="image-<%=i%>">Delete?</label>
              </div>
            </div>
            <% }) %>
          </div>
          <div>
            <button class="btn btn-primary mt-3">Update</button>
            <a href="/hotel/<%= hotel._id %>" class="btn btn-danger mt-3"
              >Back</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
