<% layout('layouts/boilerplate.ejs') %>

<div class="card-header mb-2">
  <div class="h1 text-center">All Hotels</div>
</div>
<% for (let hotel of hotels){%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" alt="" src="<%=hotel.image%>" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= hotel.title %></h5>

        <p class="card-text"><%= hotel.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= hotel.location%></small>
        </p>
        <a class="btn btn-primary" href="/hotel/<%=hotel._id%>"
          >View <%=hotel.title%></a
        >
      </div>
    </div>
  </div>
</div>
<% }%>
