<% layout('layouts/boilerplate.ejs') %>
<div class="row m-5">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1><%= hotel.title %></h1>
      </div>
      <img src="<%= hotel.image %>" alt="" class="card-img-top" />
      <div class="card-body">
        <span class="text-dark card-title">Price : </span>
        <span class="text-muted card-text"><%= hotel.price %></span>
      </div>
      <div class="card-body">
        <span class="text-success card-title">Description : </span>
        <span class="text-primary card-text"><%= hotel.description %></span>
      </div>
      <div class="card-body">
        <span class="text-success card-title">Created by : </span>
        <span class="text-muted card-text"><%= hotel.author.username %></span>
      </div>
      <div class="card-body">
        <span class="text-success card-title">Location : </span>
        <span
          ><a
            href="https://www.google.com/maps/place/<%= hotel.location %>"
            target="_blank"
            class="text-primary text-decoration-none card-text"
            ><%= hotel.location %></a
          ></span
        >
      </div>
      <div class="card-footer">
        <div class="flex">
          <form action="/hotel/<%= hotel._id %>?_method=delete" method="post">
            <a href="/hotel" class="btn btn-dark text-decoration-none">Back</a>
            <% if(currentUser && currentUser._id.equals(hotel.author._id)) {%>
            <a
              href="/hotel/<%= hotel._id %>/edit"
              class="btn btn-success text-decoration-none"
              >Edit</a
            >
            <button class="btn btn-danger">Delete</button>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <% if(currentUser){ %>
    <div class="card mb-3">
      <div class="card-header">
        <h1>Submit Your Review</h1>
      </div>
      <div class="card-body">
        <form
          action="/hotel/<%= hotel._id %>/reviews"
          method="post"
          class="validated-form"
          novalidate
        >
          <div class="form-group">
            <label class="form-label" for="rating">Rating</label>
            <input
              type="range"
              name="review[rating]"
              id="rating"
              class="form-control"
              min="1"
              max="5"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="form-group">
              <label class="form-label" for="review">Review</label>
              <textarea
                name="review[body]"
                id="review"
                cols="30"
                rows="5"
                class="form-control"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success mt-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <% } %> <% if(hotel.reviews.length){ %>
    <div class="card">
      <div class="card-header">
        <h1>Reviews</h1>
      </div>
      <div class="card-body">
        <% for(let review of hotel.reviews){ %>
        <div class="card mb-3">
          <div class="card-body">
            <div>
              <span class="text-dark card-title">Rating : </span>
              <span class="text-muted card-text"><%= review.rating %></span>
            </div>
            <div class="mb-2">
              <span class="text-muted card-subtitle"
                >Created by : <%= review.author.username %></span
              >
            </div>
            <div>
              <span class="text-success card-title">Review : </span>
              <span class="text-primary card-text"><%= review.body %></span>
            </div>
            <% if(currentUser && currentUser._id.equals(review.author._id)){ %>
            <form
              action="/hotel/<%= hotel._id %>/reviews/<%= review._id %>/?_method=delete"
              method="post"
            >
              <button class="btn btn-danger text-decoration-none mt-3">
                Delete
              </button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
</div>
