<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<div class="row m-5">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <div class="h1"><%= hotel.title %></div>
      </div>
      <img src="<%= hotel.image %>" alt="" class="card-img-top" />
      <div class="card-body mt-2">
        <div class="d-flex align-middle">
          <i class="fas fa-user-circle" style="font-size: 34px"></i>
          <span class="text-dark card-title h4 ms-2"
            ><%= hotel.author.username %></span
          >
        </div>
      </div>
      <div class="card-body">
        <span class="text-primary card-title h5">Description : </span>
        <span class="text-dark card-text h6"><%= hotel.description %></span>
      </div>
      <div class="card-body">
        <a
          href="https://www.google.com/maps/place/<%= hotel.location %>"
          target="_blank"
          class="text-muted text-decoration-none card-text h6"
          ><%= hotel.location %></a
        >
      </div>
      <div class="d-flex justify-content-center px-4">
        <div
          style="height: 1px; background-color: lightgray"
          class="w-100"
        ></div>
      </div>
      <div class="card-body">
        <span class="text-dark card-title h4">Price : </span>
        <span class="text-success card-text h2">$<%= hotel.price %></span>
      </div>
      <div class="card-footer">
        <div class="flex">
          <form action="/hotel/<%= hotel._id %>?_method=delete" method="post">
            <a href="/hotel" class="btn btn-dark text-decoration-none">Back</a>
            <% if(currentUser && currentUser._id.equals(hotel.author._id)) {%>
            <a
              href="/hotel/<%= hotel._id %>/edit"
              class="btn btn-success text-decoration-none"
              >Edit</a
            >
            <button class="btn btn-danger">Delete</button>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <% if(currentUser){ %>
    <div class="card mb-3">
      <div class="card-header">
        <h1>Submit Your Review</h1>
      </div>
      <div class="card-body">
        <form
          action="/hotel/<%= hotel._id %>/reviews"
          method="post"
          class="validated-form"
          novalidate
        >
          <div class="form-group">
            <label class="form-label h5" for="rating">Rating</label>
            <%- include('../partials/stars.ejs') %>
            <div class="valid-feedback">Looks good!</div>
            <div class="form-group">
              <label class="form-label h5" for="review">Review</label>
              <textarea
                name="review[body]"
                id="review"
                cols="30"
                rows="5"
                class="form-control"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success mt-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <% } %> <% if(hotel.reviews.length){ %>
    <div class="card">
      <div class="card-header">
        <h1>Reviews</h1>
      </div>
      <div class="card-body">
        <% for(let review of hotel.reviews){ %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="mb-2 d-flex align-bottom">
              <i class="fas fa-user-circle" style="font-size: 32px"></i>
              <span class="text-dark card-title h4 ms-2"
                ><%= review.author.username %></span
              >
            </div>
            <div class="d-flex justify-content-start">
              <div class="h5 text-muted me-3 mt-1">Ratings :</div>
              <div class="">
                <p class="starability-result" data-rating="<%=review.rating %>">
                  Rated: <%= review.rating %> stars
                </p>
              </div>
            </div>
            <div>
              <span class="text-success h5">Review : </span>
              <span class="text-primary h6"><%= review.body %></span>
            </div>
            <% if(currentUser && currentUser._id.equals(review.author._id)){ %>
            <form
              action="/hotel/<%= hotel._id %>/reviews/<%= review._id %>/?_method=delete"
              method="post"
            >
              <button class="btn btn-danger mt-3">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
</div>
